<div class="funcao-titulo">
  {{escolhida.nome}}
</div>
<hr>
<div class="row lista-funcao-dash">
  <div class="col-md-3 lista-funcao-dash-sidebar">
    <!--p class="lead" >Manual de Referência</p-->
    <input class="form-control" ng-model="queryFuncao" placeholder="Procurar...">
    <hr>
    <ul class="lista-funcao">
      <li ng-repeat="funcao in listaFuncao | filter: {nome: queryFuncao}" ng-click="escolherFuncao(funcao)" class="lista-funcao-item">
        {{funcao.nome}}
      </li>
    </ul>
  </div>
  <div class="col-md-9">
    <pgm-funcao funcao="escolhida"></pgm-funcao>
  </div>
</div>